#root {
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  background-image:url("./images/blackjack.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container-dealer{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-player{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.count{
  font-size:40px;
  font-weight: 900;
}
.option button{
  margin-left:20px;
  margin-right:20px;
  width:10vw;
  border:2px solid grey;
}
.option button:hover{
  border:2px solid rgb(255, 0, 0);
}
.option{
  display:flex;
  justify-content: center;
  align-items: center;
  height:20vh;
  width:100vw;
}
.card-container-dealer{
  overflow-x: scroll;
  height:25vh;
  width:100%;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.card-container-player{
  height:25vh;
  width:100%;
  overflow-x: scroll;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.card svg{
  height:80%;
  width:auto;
  object-fit: contain;
}
@media only screen and (max-width:750px){
  *{
    display:none;
  }
}
