#root {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    background-image:url("./images/blackjack.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
.container{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
button{
    margin:10px;
}
.buttons{

    position:absolute;
    bottom:0;
    right:0;
}
  